@import '../../../comum/assets/less/_variables.less';

#about{
  .my-data{
    .container{
      .row{
        .skillbar-bar-main{
          .skillbar{
            height: 3px;

            .skillbar-bar{
              height: 3px;
              background: @main-color;
            }
          }
        }
      }
    }
  }
}

.my-data{
  padding: 8rem 0;
}

.my-data img{
  max-height: 150px;
}

.projects{
  background-color: rgba(255,255,255, .05);
  padding: 8rem 0;
}

.why{
  padding: 8rem 0;
}

.clients{
  background-color: rgba(255,255,255, .05);
  padding: 8rem 0;
}
